{% extends "base.html" %}
{% block body %}
{% include "navbar.html" %}
<div class="container">
  <div class="columns">
    <div class="column is-3 ">
      <p class="menu-label">
        Project Structure
      </p>
      <div id="tree">
        <ul role="tree" aria-labelledby="tree1">
          {% block tree %}
          {{ render_tree(root, level, index)|safe }}
          {% endblock %}
        </ul>
      </div>
    </div>
    <div class="column is-9">
      <div class="card">
        <header class="card-header">
          <label class="checkbox">
            <input id="mark-as-reviewed" type="checkbox">
            Mark as reviewed
          </label>
        </header>
        <div class="card-content">
          <div id="code-section" class="line-numbers">
            <pre id="current-content-unique" data-download-link><code id="code-content-unique">
int main(int argc, char **argv)
{
  return 0;
}
    </code></pre>
          </div>
        </div>
      </div>


    </div>
  </div>
  <div id="image-modal" class="modal">
    <div class="modal-background"></div>
    <div class="modal-content">
      <div class="modal-card">
        <header class="modal-card-head">
          <p class="modal-card-title">Comment</p>
        </header>
        <section class="modal-card-body">
          <div class="field">

            <label class="label">Selection</label>
            <fieldset disabled>
              <div class="control">
                <textarea id="popup-selected-text" class="textarea" placeholder="Comment"></textarea>
              </div>
            </fieldset>

            <label class="label">Comment</label>
            <div class="control">
              <textarea id="popup-comment-area" class="textarea" placeholder="Comment"></textarea>
            </div>

            <label class="label">Tags</label>
            <div class="control">
              <div class="select">
                <select id="popup-tag-area">
                  <option>One</option>
                  <option>Two</option>
                </select>
              </div>
            </div>
          </div>
        </section>
        <footer class="modal-card-foot">
          <button class="button is-success" onclick="submitComment()">Submit</button>
          <button class="button" onclick="closePopup()">Cancel</button>
        </footer>
      </div>
    </div>
    <button id="image-modal-close" class="modal-close"></button>
  </div>
</div>
{% endblock %}
{% block scripts %}
<script>
  let activeFile = "";
  
  function getSelectionText() {
    var selectedText = "";
    var activeEl = document.activeElement;
    var activeElId = activeEl ? activeEl.id : null;
    if (activeElId == "current-content-unique") {
      selectedText = window.getSelection().toString();
    }
    return selectedText;
  }

  document.onmouseup = document.onkeyup = function () {
    selectedText = getSelectionText();
    if (selectedText.length > 0)
    {
      var modalDlg = document.getElementById('image-modal');
      modalDlg.classList.add('is-active');
      var modalEl = document.getElementById('popup-selected-text');
      modalEl.innerHTML = selectedText;
    }
  };

  function submitComment() {
    var comment = document.getElementById('popup-comment-area').value;
    var selectedText = document.getElementById('popup-selected-text').value;
    var tag = document.getElementById('popup-tag-area').value;

    $.post({
      type: "POST",
      url: "/submit_comment",
      data: {"activeFile": activeFile, 
             "comment": comment, 
             "selectedText": selectedText,
             "tag": tag},
      success(response) {
        var status = JSON.parse(response)["status"];
        if (status === "Comment saved") { closePopup(); }
        else { closePopup(); }
      }
    });
    closePopup();
  }

  // Function to close the popup
  function closePopup() {
    var modalDlg = document.getElementById('image-modal');
    modalDlg.classList.remove('is-active');
  }

  var imageModalCloseBtn = document.getElementById('image-modal-close');
  imageModalCloseBtn.addEventListener('click', function () {
    closePopup();
  });

  var markAsReviewedCheckbox = document.getElementById('mark-as-reviewed');
  markAsReviewedCheckbox.addEventListener('click', function () {
    var is_reviewed = false;
    if(imageModalCloseBtn.classList.contains('is-active')) {
      is_reviewed = true;
    } else {
      is_reviewed = false;
    }
    var xhr = new XMLHttpRequest();

    xhr.onreadystatechange = function () {
      if (xhr.readyState == XMLHttpRequest.DONE) {
        location.reload();
      }
    }
    
    xhr.open("POST", "/mark_as_reviewed", true);
    xhr.setRequestHeader("Content-Type", "application/json");
    var data = JSON.stringify({"activeFile": activeFile, "is_reviewed": is_reviewed});
    xhr.send(data);
  });
</script>
{% endblock %}