{% extends "base.html" %}
{% block body %}
{% include "navbar.html" %}
<div class="container">
  <div class="columns">
    <div class="column is-3 ">
      <p class="menu-label">
        Project Structure
      </p>
      <div id="tree">
        <ul role="tree" aria-labelledby="tree1">
          {% block tree %}
          {{ render_tree(root, level, index)|safe }}
          {% endblock %}
        </ul>
      </div>
    </div>
    <div class="column is-9">
      <div class="card">
        <div class="card-content">
          <div id="code-section" class="line-numbers">
            <pre class="language-c" id="current-content-unique"><code>
int main(int argc, char **argv)
{
  return 0;
}
    </code></pre>
          </div>
        </div>
      </div>


    </div>
  </div>
  <div id="image-modal" class="modal">
    <div class="modal-background"></div>
    <div class="modal-content">
      <div class="modal-card">
        <header class="modal-card-head">
          <p class="modal-card-title">Comment</p>
        </header>
        <section class="modal-card-body">
          <div class="field">

            <label class="label">Selection</label>
            <fieldset disabled>
              <div class="control">
                <textarea id="popup-selected-text" class="textarea" placeholder="Comment"></textarea>
              </div>
            </fieldset>

            <label class="label">Comment</label>
            <div class="control">
              <textarea id="popup-comment-area" class="textarea" placeholder="Comment"></textarea>
            </div>

            <label class="label">Tags</label>
            <div class="control">
              <div class="select">
                <select>
                  <option>One</option>
                  <option>Two</option>
                </select>
              </div>
            </div>
          </div>
        </section>
        <footer class="modal-card-foot">
          <button class="button is-success" onclick="submitComment()">Save changes</button>
          <button class="button" onclick="closePopup()">Cancel</button>
        </footer>
      </div>
    </div>
    <button id="image-modal-close" class="modal-close"></button>
  </div>
</div>
{% endblock %}
{% block scripts %}
<script>

  let selectedText = ""
  let activeFile = ""
  
  function getSelectionText() {
    var text = "";
    var activeEl = document.activeElement;
    var activeElId = activeEl ? activeEl.id : null;
    if (activeElId == "current-content-unique") {
      text = window.getSelection().toString();
    }
    return text;
  }

  document.onmouseup = document.onkeyup = function () {
    selectedText = getSelectionText();
    if (selectedText.length > 0)
    {
      var modalDlg = document.getElementById('image-modal');
      modalDlg.classList.add('is-active');
      var modalEl = document.getElementById('popup-selected-text');
      modalEl.innerHTML = selectedText;
    }
  };

  function submitComment() {
    selectedText = getSelectionText();
    var modalComment = document.getElementById('popup-comment-area');
    var comment = modalComment.value;

    var xhr = new XMLHttpRequest();
    xhr.open("POST", "/submit_comment", true);
    xhr.setRequestHeader("Content-Type", "application/json");
    var data = JSON.stringify({ "comment": comment, "selectedText": selectedText });
    xhr.send(data);

    closePopup();
  }

  // Function to close the popup
  function closePopup() {
    var modalDlg = document.getElementById('image-modal');
    modalDlg.classList.remove('is-active');
  }

  var imageModalCloseBtn = document.getElementById('image-modal-close');
  imageModalCloseBtn.addEventListener('click', function () {
    closePopup();
  });

</script>
{% endblock %}