{% extends "base.html" %}
{% block body %}
{% include "navbar.html" %}
<title>TeamReview</title>
<section class="hero is-primary is-bold is-small">
  <div class="hero-body">
    <div class="container has-text-centered">
      <div id="settings" class="settings-box">
        <div class="settings-area">
          <h1 class="title">Settings</h1>
          <div class="field">
            <label class="file-label">
              <input id="fileInput" class="file-input is-info" type="file" name="resume" accept=".zip">
              <span class="file-cta">
                <span class="file-icon">
                  <i class="fas fa-upload"></i>
                </span>
                <span class="file-label" id="fileLabel">
                  Choose a zip file
                </span>
              </span>
              <span class="file-name has-text-centered" id="fileName">
                No file uploaded
              </span>
            </label>
          </div>
          <div class="field">
            <p class="control has-icons-left">
              <input id="settings-user" class="input is-success" type="text" placeholder="{{user.username}}"
                readonly="readonly">
              <span class="icon is-small is-left">
                <i class="fa fa-user"></i>
              </span>
            </p>
          </div>
          <div class="field">
            <p class="control has-icons-left">
              <input id="settings-mail" class="input is-success" type="text" placeholder="{{user.email}}">
              <span class="icon is-small is-left">
                <i class="fa fa-envelope"></i>
              </span>
            </p>
          </div>
          <div class="field">
            <p class="control has-icons-left">
              <input id="settings-pass" class="input" type="password" placeholder="&#x2022&#x2022&#x2022&#x2022&#x2022">
              <span class="icon is-small is-left">
                <i class="fa fa-lock"></i>
              </span>
            </p>
          </div>
          <br>
          <a id="save" class="form-button button is-primary is-inverted is-outlined">
            <span>Save</span>
          </a>
          <a href="/" class="form-button button is-primary is-inverted is-outlined">
            <span>Exit</span>
          </a>
          <br>
          <br>
          <i><a id="feedback" class="feedback"></a></i>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
{% block scripts %}
<script src="{{url_for('static', filename='js/scripts.js')}}"></script>
<script>
  document.addEventListener('DOMContentLoaded', function () {
    const fileInput = document.getElementById('fileInput');
    const fileLabel = document.getElementById('fileLabel');
    const fileNameDisplay = document.getElementById('fileName');

    fileInput.addEventListener('change', function (event) {
      const file = event.target.files[0];

      if (file && file.name.endsWith('.zip')) {
        var xhr = new XMLHttpRequest();
        xhr.open("POST", "/upload_zip_file", true);
        xhr.setRequestHeader("Content-Type", "application/json");
        xhr.onreadystatechange = function () {
          if (xhr.readyState == XMLHttpRequest.DONE) {
            message(JSON.parse(xhr.responseText)["status"]);
          }
        }

        // Read the file as base64
        const reader = new FileReader();
        reader.onload = function (e) {
          const base64String = e.target.result.split(',')[1];
          var data = JSON.stringify({ "content": base64String });
          xhr.send(data);
        };
        reader.readAsDataURL(file);
      } else {
        // Invalid file or no file selected
        fileLabel.textContent = "Please choose a valid ZIP file";
        fileLabel.textContent = '';
        fileInput.classList.remove('is-info');
        fileInput.classList.remove('is-success');
        fileInput.classList.add('is-error');
      }
    });
  });
</script>
{% endblock %}